# Base URL for the VÉRA API
EXPO_PUBLIC_API_URL=https://veraapp.app

# Stripe publishable key (test key — replace with live key before going to production)
EXPO_PUBLIC_STRIPE_KEY=pk_test_51TnyPtJ6f3war2oRv26PCoUhyeN0OespUi7ukamDyncVXjUdL33QDqPoHpPAhkQlPbSWtnQWIM1NNkXTyJimArkO00MlxNl46j
